@tailwind base;
@tailwind components;
@tailwind utilities;

  html, body {
    scroll-behavior: smooth;
  }

  /* Tailwind CSS utility classes */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body, #app {
    overflow-x: hidden;
  }

  @keyframes bounce-up {
      0%, 100% {
        transform: translateY(100);
      }
      50% {
        transform: translateY(-100px);
      }
    }
    
    /* Animasi bounce ke bawah (reverse) */
    @keyframes bounce-down {
      0%, 100% {
        transform: translateY(-100);
      }
      50% {
        transform: translateY(100px);
      }
    }
    
    /* Kode untuk animasi bounce */
    .animate-bounce {
      animation: bounce-up 5s infinite alternate; /* Animasi ke atas dan ke bawah secara bergantian */
    }
    
    /* Kode untuk animasi bounce reverse */
    .animate-bounce-reverse {
      animation: bounce-down 5s infinite alternate; /* Animasi ke bawah dan ke atas secara bergantian */
    }

    footer{
      border: 1px solid blue;
    }

    html {
      scroll-behavior: smooth;
      background-color: #f8fafc; 
    } 

    :root {
      --bg-light: #8EE4AF;
    }
    
    body.light-mode {
      background-color: var(--bg-light);
    }
    
    /* Dark Mode */
    :root {
      --bg-dark: #072E33;
    }
    
    body.dark-mode {
      background-color: var(--bg-dark);
    }